<!DOCTYPE HTML>
<html xmlns:th='http://www.thymeleaf.org'>
<head>
  <meta http-equiv='Content-Type' content='text/html; charset=UTF-8'>

  <link rel='stylesheet'
        href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
  <script src='/js/app.js'></script>

  <title>YOUR ANSWER</title>
</head>
<body>
<div class='card card-body bg-light'>
  <h3 th:text="${question.getQuestion()}"/>
  <h1 th:text="${question.getAnswer()}"/>
  <br/>

  <div class='col-xs-4'>
    <!--<label th:text="${author}></label>-->
  </div>
</div>
<a href="/question" class="btn">Ask something else</a>
</body>
</html>